@model List<BasketDetailVm>
@{
    ViewData["Title"] = "Index";

    decimal grandTotal = 0;
}

<div class="container my-5"> 
    <h2 class="my-3">Products</h2>
    @if(Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                    <th scope="col">Total</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td><img style="widht:100px;height:100px;" src="~/img/@item.Image" /></td>
                            <td>@item.CategoryName</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Price</td>
                            <td>@item.Count</td>
                            <td>@item.Total</td>
                            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>

                    grandTotal += item.Total;
                }
            </tbody>
        </table>

        
    <h1 class="my-4 text-right">Grand Total : @grandTotal</h1>
    }
    else
    {

        <div class="alert alert-warning" role="alert">
            Products not yet add
        </div>

    }



</div>

